{# src/Sportnetzwerk/SpnBundle/Resources/views/Page/eventInvitationConfirmed.html.twig #}
{% extends 'SportnetzwerkSpnBundle::layout.html.twig' %}

{% block title %}Danke{% endblock%}
{% block body %}
<div id="heading">Einladung bestätigt</div>  
 <section id="content">
 <b>Hi {{ app.user.username }}</b><br>
</b>
<br><br>
Danke für die Teilnahme am Event.
<br>
<a href="#">Status des Events</a>
<br><br>
Viel Spass und Erfolg:-)
<br><br>
Dein Sportnetzwerk
</section>     
{% endblock %}