{# src/Sportnetzwerk/SpnBundle/Resources/views/Page/contact.html.twig #}
{% extends 'SportnetzwerkSpnBundle::layout.html.twig' %}

{% block title %}Kontakt{% endblock%}
{% block body %}
  <div id="heading">Kontakt</div>  
     <section id="content">
     <b>Hier könnt Ihr uns erreichen</b><br>
<br>
<b>
    Konstantinos Doskas<br>
    Leyentalstrasse 51<br><br>
</b>    
     <img src="{{ asset('images/icon-twitter.png') }}">&nbsp;<a href="#">@CDoskas</a>
    <br>
    <img src="{{ asset('images/icon-fb.gif') }}">&nbsp;<a href="#">konstantinos.doskas</a>
<br>
<img src="{{ asset('images/icon-envelope.png') }}">
</b>
<a href="mailto: info@sportnetzwerk.net" >info@sportnetzwerk.net</a>
<br>
<br>
    <b>47799 Krefeld</b><br>
</section>       
{% endblock %}