{# src/Sportnetzwerk/SpnBundle/Resources/views/Page/faq.html.twig #}
{% extends 'SportnetzwerkSpnBundle::layout.html.twig' %}

{% block title %}Faq{% endblock%}
{% block body %}
           <div id="heading">FAQs</div>  
            <section id="content">
                <b>Frequently asked questions</b><br>
<br>
<b>Was ist das Sportnetzwerk?
</b>
<br><br>
Das Sportnetzwerk ist eine social sports community Plattform, mit dem Ziel Sportlern und Sportenthusiasten die Möglichkeit
zu geben sich gegenseitig zu finden um Ihren Sport miteinander auszuüben und sich über den Sport kennenzulernen.
<br><br>
<b>Ist die Nutzung mit irgendwelchen Kosten verbunden?
</b>
<br><br>
Nein, die Nutzung dieser Plattform ist absolut kostenfrei.
<br>
</section>     
{% endblock %}