{# src/Sportnetzwerk/SpnBundle/Resources/views/Page/invitationDone.html.twig #}
{% extends 'SportnetzwerkSpnBundle::layout.html.twig' %}

{% block title %}Danke{% endblock%}
{% block body %}
<div id="heading">Benachrichtigungsvorgang abgeschlossen</div>  
 <section id="content">
 <b>Danke</b><br>
<br>
<b>Fertig
</b>
<br><br>
Alle Spieler wurden benachrichtigt...
<br>
<a href="#">Status meines Events</a>
<br><br>
Viel Spass
<br><br>
Das Sportnetzwerk
</section>     
{% endblock %}