{# src/Sportnetzwerk/SpnBundle/Resources/views/Page/signup2.html.twig #}
{% extends 'SportnetzwerkSpnBundle::layout.html.twig' %}

{% block title %}Schritt 2 - Emails checken{% endblock%}
{% block body %}
           <div id="heading">Schritt 2 - Emails checken</div>  
            <section id="content">
                <b>Danke</b><br>
<br>
<b>Nur noch ein klick
</b>
<br><br>
Fast fertig...
In deinem Emaileingang findest du gleich eine Bestätigungsmail mit einem Link.
Zur Aktivierung deines neuen Accounts musst du innerhalb von 24h nach Eingang der Email den dort hinterlegten
Link betätigen.
<br>
Die Nutzung des Netzwerks ist im übrigen mit keinerlei Kosten verbunden.
<br><br><br>
Viel Spass
<br><br>
Das Sportnetzwerk
</section>     
{% endblock %}