{# src/Sportnetzwerk/SpnBundle/Resources/views/Page/contact.html.twig #}
{% extends 'SportnetzwerkSpnBundle::layout.html.twig' %}

{% block title %}Sign in{% endblock%}
{% block body %}
  <div id="heading">Sign in</div>  
     <section id="content">
     <b>Bitte einloggen</b><br>
<br>
<b>
    Bitte Benutzernamen und Passwort eingeben<br><br>
    Vielen Dank<br><br>
</b>
</section>       
{% endblock %}