{# src/Sportnetzwerk/SpnBundle/Resources/views/activation/activate.html.twig #}
{% extends 'SportnetzwerkSpnBundle::layout.html.twig' %}
{% block title %}Aktivierung Sportnetzwerk{% endblock%}
{% block body %}
    {% if error == false %}
        <div id="heading">Done</div>  
            <section id="content">
            <b>Aktivierung abgeschlossen</b><br>
            <br><br>
            Willkommen {{ username }}
            <br>
            </section>   
    {% else %}
        <div id="heading">Fehler</div>  
            <section id="content">
            <b>Ein Fehler ist aufgtreten</b><br>
            <br><br>
            Fertig. Lorem ipsum dolor...
            <br>
            </section>   
        
    {% endif %}
{% endblock %}